/.vs/CopilotSnapshots
/.vs/ThreeJS-PWA-ECS-Surface-Stable-Dithering.slnx/copilot-chat
/.vs/ThreeJS-PWA-ECS-Surface-Stable-Dithering.slnx/FileContentIndex
/.vs/ThreeJS-PWA-ECS-Surface-Stable-Dithering/CopilotIndices
/shaders copied from Unity-SDF-Fractal-Dithering
/.vs
/.vite
/dist/assets
/node_modules/.bin
/node_modules
